.Rproj.user
.Rhistory
.RData
.Ruserdata

*.DS_Store

/data/p01/p01_list.wav
/data/p02/p02_list.wav
/data/p03/p03_stim2.wav
/data/p04/p04_stim2.wav
/data/p05/p05_stim2.wav
/data/p06/p06_stim2.wav
/data/p07/p07_stim2.wav
/data/p08/p08_stim2.wav
